    <br>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h5 class="footer-heading">
                        <i class="fas fa-feather-alt"></i> J&K Travel Blog
                    </h5>
                    <p class="footer-text">Share your stories with the world. Create, inspire, and connect with fellow writers.</p>
                </div>
                <div class="col-lg-4">
                    <h5 class="footer-heading">Quick Links</h5>
                    <ul class="footer-links">
                        <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
                        <li><a href="/create-post"><i class="fas fa-plus"></i> Create Post</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 class="footer-heading">Connect With Us</h5>
                    <div class="social-links">
                        <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-github"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <hr class="footer-divider">
            <div class="footer-bottom">
                <p class="mb-0">&copy; <%= new Date().getFullYear() %> Fresh Blog. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
